always-auth=true
registry=https://educama.jfrog.io/educama/api/npm/npm/
//educama.jfrog.io/educama/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJtcTMwVDR3OFhIN1duYkZJWDY4NGNjUl93SUlhSHZ3ekhET2lLd0NIRkdzIn0.eyJzdWIiOiJqZnJ0QDAxY2cxcXcyZ3Bua2J2MG05bWJmcjQxZzF2XC91c2Vyc1wvZWR1Y2FtYSIsInNjcCI6Im1lbWJlci1vZi1ncm91cHM6KiBhcGk6KiIsImF1ZCI6ImpmcnRAMDFjZzFxdzJncG5rYnYwbTltYmZyNDFnMXYiLCJpc3MiOiJqZnJ0QDAxY2cxcXcyZ3Bua2J2MG05bWJmcjQxZzF2IiwiaWF0IjoxNTMxNDkyNDkwLCJqdGkiOiJiMGE3ZTdmOS1jZDJmLTRiOTEtYmE3ZC05ZTFmNWI2YzIyYWMifQ.WJh65jUpUqvNBL6zvHviktv5MzQzaJvGTyQaPoRpQllJ9b5OzgYAZWJ6tVB-Y2jBiqJOYKF_uHlfAkD--nrGUWVGpsFJ-lxML6GEjSejVpgV_TqAhXo2hsKCZACdyFUQYU88tgbUrzUYaMIbOTyZn-oDiLi4NpK07a82_MPhctIV0wslOBb7NCThGQjMe3W9FKnqCrCLdEpUlJyUt3kL2WSJwz-cq5Vvb1Xggs4yiILtAS2zBeCi-I_ZrMoSm46KfnICaAeUEOwgwFIzNTEkSBW7UtqUEXAOoTkGt9I3A9gXkpTYx5pG64zVd4Wv6aJKyX6v7_wh33GiQyERXGb1yg
